In [1]:
import pandas as pd

In [3]:
companies = pd.read_csv('D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv')

In [9]:
companies.head()

,CORPORATE_IDENTIFICATION_NUMBER,DATE_OF_REGISTRATION,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,AUTHORIZED_CAPITAL,PAIDUP_CAPITAL,REGISTERED_STATE,REGISTRAR_OF_COMPANIES,PRINCIPAL_BUSINESS_ACTIVITY,REGISTERED_OFFICE_ADDRESS,SUB_CATEGORY
0,CORP,5-01-1955,CORPORATION BANKK,ACTIVE,Public,Company Limited by Shares,"30,000,000,000.00",NaN,Karnataka,RoC-Bangalore,NaN,Corporate Office Mangladevi Temple Rd. Post Bo...,Indian Non-Government Company
1,L00019KA1994PLC016202,8-09-1994,JAIN FARMS AND RESORTS LIMITED,ACTIVE,Public,Company Limited by Shares,"30,000,000.00","30,000,000.00",Karnataka,RoC-Bangalore,NaN,"NO.59/1, NAKODA ARCADE,III FLOOR,DVG ROAD BANG...",Indian Non-Government Company
2,L00309KA1982PLC004960,20-09-1982,PAN ELECTRONICS (INDIA) LIMITED,ACTIVE,Public,Company Limited by Shares,"100,000,000.00","40,000,000.00",Karnataka,RoC-Bangalore,NaN,"NO.69, CUBBONPET III CROSS,BANGALORE-2. BANGAL...",Indian Non-Government Company
3,L00363KA1982PLC005084,22-12-1982,ELECTREX (INDIA) LIMITED,DORMANT,Public,Company Limited by Shares,"150,000,000.00","94,593,000.00",Karnataka,RoC-Bangalore,NaN,"21-DI, 2ND PHASE, PEENYA INDULAREA, BANGALORE-...",Indian Non-Government Company
4,L00367KA1993PLC014588,28-07-1993,TULSI CAPITAL MARKET LIMITED,ACTIVE,Public,Company Limited by Shares,"110,000,000.00","46,575,000.00",Karnataka,RoC-Bangalore,Finance,186 DATTA COMPLEX MAIN ROADGANDHI BAZAR BASAVA...,Indian Non-Government Company

In [23]:

    
help(companies.apply)

Help on method apply in module pandas.core.frame:

apply(self, func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Applies function along input axis of DataFrame.

    Objects passed to functions are Series objects having index
    either the DataFrame's index (axis=0) or the columns (axis=1).
    Return type depends on whether passed function aggregates, or the
    reduce argument if the DataFrame is empty.

    Parameters
    ----------
    func : function
        Function to apply to each column/row
    axis : {0 or 'index', 1 or 'columns'}, default 0
        * 0 or 'index': apply function to each column
        * 1 or 'columns': apply function to each row
    broadcast : boolean, default False
        For aggregation functions, return object of same size with values
        propagated
    raw : boolean, default False
        If False, convert each row or column into a Series. If raw=True the
        passed function will receive ndarray objects instead. If you are
        just applying a NumPy reduction function this will achieve much
        better performance
    reduce : boolean or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        apply will use reduce to determine whether the result should be a
        Series or a DataFrame. If reduce is None (the default), apply's
        return value will be guessed by calling func an empty Series (note:
        while guessing, exceptions raised by func will be ignored). If
        reduce is True a Series will always be returned, and if False a
        DataFrame will always be returned.
    args : tuple
        Positional arguments to pass to function in addition to the
        array/series
    Additional keyword arguments will be passed as keywords to the function

    Notes
    -----
    In the current implementation apply calls func twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if func has
    side-effects, as they will take effect twice for the first
    column/row.

    Examples
    --------
    >>> df.apply(numpy.sqrt) # returns DataFrame
    >>> df.apply(numpy.sum, axis=0) # equiv to df.sum(0)
    >>> df.apply(numpy.sum, axis=1) # equiv to df.sum(1)

    See also
    --------
    DataFrame.applymap: For elementwise operations

    Returns
    -------
    applied : Series or DataFrame

In [26]:
def printInfo(c):
    print c
    return True
    
help(companies.filter)

Help on method filter in module pandas.core.generic:

filter(self, items=None, like=None, regex=None, axis=None) method of pandas.core.frame.DataFrame instance
    Restrict the info axis to set of items or wildcard

    Parameters
    ----------
    items : list-like
        List of info axis to restrict to (must not all be present)
    like : string
        Keep info axis where "arg in col == True"
    regex : string (regular expression)
        Keep info axis with re.search(regex, col) == True
    axis : int or None
        The axis to filter on. By default this is the info axis. The "info
        axis" is the axis that is used when indexing with ``[]``. For
        example, ``df = DataFrame({'a': [1, 2, 3, 4]]}); df['a']``. So,
        the ``DataFrame`` columns are the info axis.

    Notes
    -----
    Arguments are mutually exclusive, but this is not checked for

In [43]:
companies[companies['COMPANY_NAME'] == 'BENISON TECHNOLOGIES PRIVATE LIMITED']

,CORPORATE_IDENTIFICATION_NUMBER,DATE_OF_REGISTRATION,COMPANY_NAME,COMPANY_STATUS,COMPANY_CLASS,COMPANY_CATEGORY,AUTHORIZED_CAPITAL,PAIDUP_CAPITAL,REGISTERED_STATE,REGISTRAR_OF_COMPANIES,PRINCIPAL_BUSINESS_ACTIVITY,REGISTERED_OFFICE_ADDRESS,SUB_CATEGORY
57342,U72300KA2011PTC057167,17-02-2011,BENISON TECHNOLOGIES PRIVATE LIMITED,ACTIVE,Private,Company Limited by Shares,"700,000.00","588,235.00",Karnataka,RoC-Bangalore,Business Services,"4th Floor, # 817, """"Girija"""" 80 Feet Road, 8th...",Indian Non-Government Company

In [35]:
d = companies.COMPANY_NAME

In [36]:
type(d)

pandas.core.series.Series

In [87]:
def fun(r):
    if 'MSK' in r:
        print r, 'Present'
d.apply(fun)

SAMSKRUTHI CHITS PRIVATE LIMITED Present
SV SAMSKRUTI FOOD SOLUTIONS PRIVATE LIMITED Present
MAANINI VASTRA SAMSKRITHI INDIA PRIVATE LIMITED Present
MSK ELECTRONIC IMPEX PRIVATE LIMITED Present
SMSK POWER & STEEL PRIVATE LIMITED Present
MSK SHELTERS PRIVATE LIMITED Present
SAMSKRUTI MAURYA ECO VILLAGE PRIVATE LIMITED Present
MSK-LODESTAR TRADE CORP PRIVATE LIMITED Present
MSKWORLDWIDE EXPRESS PRIVATE LIMITED Present
NAMSKAR CHITS PRIVATE LIMITED Present
DREAMSKAPE REALTY PRIVATE LIMITED Present
SAMSKRUTI BUILDERS PRIVATE LIMITED Present
GERLLOK DMSKR INFOTECH PRIVATE LIMITED Present
VIDYA SAMSKAR(KARNATAKA)PRIVATE LIMITED Present
SAMSKRUTHI EDUCATIONAL AND CULTURAL FOUNDATION Present
MSK PROPERTIES PRIVATE LIMITED Present
SAMSKRUTA KALAKSHETRA PRIVATE LIMITED Present

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
78494    None
78495    None
78496    None
78497    None
78498    None
78499    None
78500    None
78501    None
78502    None
78503    None
78504    None
78505    None
78506    None
78507    None
78508    None
78509    None
78510    None
78511    None
78512    None
78513    None
78514    None
78515    None
78516    None
78517    None
78518    None
78519    None
78520    None
78521    None
78522    None
78523    None
Name: COMPANY_NAME, dtype: object

In [49]:
import graphlab as gl

In [50]:
comp = gl.SFrame('D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv')

This non-commercial license of GraphLab Create for academic use is assigned to awantikdas@gmail.com and will expire on January 25, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\ZekeLabs\AppData\Local\Temp\graphlab_server_1487582915.log.0

Finished parsing file D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv

Parsing completed. Parsed 100 lines in 0.897296 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,str,str,str,str,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv

Parsing completed. Parsed 78524 lines in 1.1836 secs.

In [51]:
comp.head()

Columns:
	CORPORATE_IDENTIFICATION_NUMBER	str
	DATE_OF_REGISTRATION	str
	COMPANY_NAME	str
	COMPANY_STATUS	str
	COMPANY_CLASS	str
	COMPANY_CATEGORY	str
	AUTHORIZED_CAPITAL	str
	PAIDUP_CAPITAL	str
	REGISTERED_STATE	str
	REGISTRAR_OF_COMPANIES	str
	PRINCIPAL_BUSINESS_ACTIVITY	str
	REGISTERED_OFFICE_ADDRESS	str
	SUB_CATEGORY	str

Rows: 10

Data:
+-------------------------------+----------------------+
| CORPORATE_IDENTIFICATION_N... | DATE_OF_REGISTRATION |
+-------------------------------+----------------------+
|              CORP             |      5-01-1955       |
|     L00019KA1994PLC016202     |      8-09-1994       |
|     L00309KA1982PLC004960     |      20-09-1982      |
|     L00363KA1982PLC005084     |      22-12-1982      |
|     L00367KA1993PLC014588     |      28-07-1993      |
|     L01111KA1988PLC008861     |      20-01-1988      |
|     L01115KA1970PLC001949     |      28-09-1970      |
|     L01122KA1994PLC016834     |      26-12-1994      |
|     L01131KA1938PLC000223     |      28-03-1938      |
|     L01131KA1943PLC000833     |      19-11-1943      |
+-------------------------------+----------------------+
+--------------------------------+----------------+---------------+
|          COMPANY_NAME          | COMPANY_STATUS | COMPANY_CLASS |
+--------------------------------+----------------+---------------+
|       CORPORATION BANKK        |     ACTIVE     |     Public    |
| JAIN FARMS AND RESORTS LIMITED |     ACTIVE     |     Public    |
| PAN ELECTRONICS (INDIA) LI...  |     ACTIVE     |     Public    |
|    ELECTREX (INDIA) LIMITED    |    DORMANT     |     Public    |
|  TULSI CAPITAL MARKET LIMITED  |     ACTIVE     |     Public    |
|    SUNIL AGRO FOODS LIMITED    |     ACTIVE     |     Public    |
| DAVANGERE SUGAR COMPANY LI...  |     ACTIVE     |     Public    |
|    KARUTURI GLOBAL LIMITED     |     ACTIVE     |     Public    |
|    LINGAPUR ESTATES LIMITED    |     ACTIVE     |     Public    |
|      TATA COFFEE LIMITED       |     ACTIVE     |     Public    |
+--------------------------------+----------------+---------------+
+---------------------------+--------------------+----------------+------------------+
|      COMPANY_CATEGORY     | AUTHORIZED_CAPITAL | PAIDUP_CAPITAL | REGISTERED_STATE |
+---------------------------+--------------------+----------------+------------------+
| Company Limited by Shares | 30,000,000,000.00  |      None      |    Karnataka     |
| Company Limited by Shares |   30,000,000.00    | 30,000,000.00  |    Karnataka     |
| Company Limited by Shares |   100,000,000.00   | 40,000,000.00  |    Karnataka     |
| Company Limited by Shares |   150,000,000.00   | 94,593,000.00  |    Karnataka     |
| Company Limited by Shares |   110,000,000.00   | 46,575,000.00  |    Karnataka     |
| Company Limited by Shares |   35,000,000.00    | 30,029,000.00  |    Karnataka     |
| Company Limited by Shares |   600,000,000.00   | 368,564,570.00 |    Karnataka     |
| Company Limited by Shares |  1,100,000,000.00  | 809,726,648.00 |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 15,339,600.00  |    Karnataka     |
| Company Limited by Shares |   250,000,000.00   | 186,770,370.00 |    Karnataka     |
+---------------------------+--------------------+----------------+------------------+
+------------------------+-------------------------------+
| REGISTRAR_OF_COMPANIES |  PRINCIPAL_BUSINESS_ACTIVITY  |
+------------------------+-------------------------------+
|     RoC-Bangalore      |              None             |
|     RoC-Bangalore      |              None             |
|     RoC-Bangalore      |              None             |
|     RoC-Bangalore      |              None             |
|     RoC-Bangalore      |            Finance            |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
+------------------------+-------------------------------+
+-------------------------------+-------------------------------+
|   REGISTERED_OFFICE_ADDRESS   |          SUB_CATEGORY         |
+-------------------------------+-------------------------------+
| Corporate Office Mangladev... | Indian Non-Government Company |
| NO.59/1, NAKODA ARCADE,III... | Indian Non-Government Company |
| NO.69, CUBBONPET III CROSS... | Indian Non-Government Company |
| 21-DI, 2ND PHASE, PEENYA I... | Indian Non-Government Company |
| 186 DATTA COMPLEX MAIN ROA... | Indian Non-Government Company |
| PLOT NO.39-A2, INDUSTRIAL ... | Indian Non-Government Company |
| 73/1, POST BOX NO.312,SHAM... | Indian Non-Government Company |
| # 204, Embassy Centre,11 C... | Indian Non-Government Company |
| LAKSHMI COFFEE CURINGWORKS... | Indian Non-Government Company |
| POLLIBETTA,KODAGU KARNATAK... | Indian Non-Government Company |
+-------------------------------+-------------------------------+
[10 rows x 13 columns]

In [52]:
comp

Columns:
	CORPORATE_IDENTIFICATION_NUMBER	str
	DATE_OF_REGISTRATION	str
	COMPANY_NAME	str
	COMPANY_STATUS	str
	COMPANY_CLASS	str
	COMPANY_CATEGORY	str
	AUTHORIZED_CAPITAL	str
	PAIDUP_CAPITAL	str
	REGISTERED_STATE	str
	REGISTRAR_OF_COMPANIES	str
	PRINCIPAL_BUSINESS_ACTIVITY	str
	REGISTERED_OFFICE_ADDRESS	str
	SUB_CATEGORY	str

Rows: 78524

Data:
+-------------------------------+----------------------+
| CORPORATE_IDENTIFICATION_N... | DATE_OF_REGISTRATION |
+-------------------------------+----------------------+
|     U74900KA2015PTC079257     |      13-03-2015      |
|     U31909KA2006PTC039156     |      28-04-2006      |
|     U29197KA2006PTC040036     |      25-07-2006      |
|     U85110KA1997PTC021606     |      3-01-1997       |
|     U72900KA2012PTC064114     |      23-05-2012      |
|     U45202KA2014PTC077473     |      28-11-2014      |
|     U05190KA2002PTC030524     |      20-05-2002      |
|     U65992KA2009PTC051623     |      25-11-2009      |
|     U65992KA2002PTC031120     |      16-10-2002      |
|     U31909KA2004PTC033772     |      19-04-2004      |
+-------------------------------+----------------------+
+-------------------------------+----------------+---------------+
|          COMPANY_NAME         | COMPANY_STATUS | COMPANY_CLASS |
+-------------------------------+----------------+---------------+
| FINMITRA FINANCE AND MANAG... |     ACTIVE     |    Private    |
| MNR FILTERS INDIA PRIVATE ... |   STRIKE OFF   |    Private    |
| MNR SEALTECH INDIA PRIVATE... |   STRIKE OFF   |    Private    |
| INTEL TECHNOLOGY INDIA PRI... |     ACTIVE     |    Private    |
| DFY GRAVITI TECHNOLOGIES P... |     ACTIVE     |    Private    |
| METRICBAY PROJECTS PRIVATE... |     ACTIVE     |    Private    |
| MITIPACK (INDIA) PRIVATE L... |     ACTIVE     |    Private    |
| VASAVIKHANNIKA CHITS PRIVA... |     ACTIVE     |    Private    |
| SKANDA CHIT FUND PRIVATE L... |   STRIKE OFF   |    Private    |
| DIMENSION DIGITAL CONTROLL... |     ACTIVE     |    Private    |
+-------------------------------+----------------+---------------+
+---------------------------+--------------------+----------------+------------------+
|      COMPANY_CATEGORY     | AUTHORIZED_CAPITAL | PAIDUP_CAPITAL | REGISTERED_STATE |
+---------------------------+--------------------+----------------+------------------+
| Company Limited by Shares |     999,990.00     |   100,000.00   |    Karnataka     |
| Company Limited by Shares |     995,000.00     |   100,000.00   |    Karnataka     |
| Company Limited by Shares |     995,000.00     |      None      |    Karnataka     |
| Company Limited by Shares |   991,700,000.00   | 61,610,520.00  |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   950,000.00   |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   105,000.00   |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   950,000.00   |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   950,000.00   |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   100,000.00   |    Karnataka     |
| Company Limited by Shares |     990,000.00     |   600,000.00   |    Karnataka     |
+---------------------------+--------------------+----------------+------------------+
+------------------------+-------------------------------+
| REGISTRAR_OF_COMPANIES |  PRINCIPAL_BUSINESS_ACTIVITY  |
+------------------------+-------------------------------+
|     RoC-Bangalore      |       Business Services       |
|     RoC-Bangalore      | Manufacturing (Machinery &... |
|     RoC-Bangalore      | Manufacturing (Machinery &... |
|     RoC-Bangalore      | Community, personal & Soci... |
|     RoC-Bangalore      |       Business Services       |
|     RoC-Bangalore      |          Construction         |
|     RoC-Bangalore      |              None             |
|     RoC-Bangalore      |            Finance            |
|     RoC-Bangalore      |            Finance            |
|     RoC-Bangalore      | Manufacturing (Machinery &... |
+------------------------+-------------------------------+
+-------------------------------+-------------------------------+
|   REGISTERED_OFFICE_ADDRESS   |          SUB_CATEGORY         |
+-------------------------------+-------------------------------+
| 487, 7th Cross, 6th Main, ... | Indian Non-Government Company |
| NO. 18, VICTORIA ROAD,VIVE... | Indian Non-Government Company |
| NO.18,VICTORIA ROAD VIVIEK... | Indian Non-Government Company |
| 23-56P, Deverabeesanahalli... | Indian Non-Government Company |
|    No.20, ""Shreyas Homes"    |        Apartment No.F-3       |
| 67, 3rd CROSS, KEMPAIAH LA... | Indian Non-Government Company |
| 68, SATKESH, SBI COLONY,40... | Indian Non-Government Company |
| NO.3, 2ND FLOOR, SUNDARA M... | Indian Non-Government Company |
| VISHAN 45/1, 3RD FLOOR,4TH... | Indian Non-Government Company |
| 134/1, NEXT TO BRIGADE TOW... | Indian Non-Government Company |
+-------------------------------+-------------------------------+
[78524 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [62]:
# Data cleaning, removal of comma
def fun(x):
    return float((x['AUTHORIZED_CAPITAL']).replace(',',''))
    
comp['AUTH_CAP'] = comp.apply(fun)

In [73]:
comp.sort('')

Columns:
	CORPORATE_IDENTIFICATION_NUMBER	str
	DATE_OF_REGISTRATION	str
	COMPANY_NAME	str
	COMPANY_STATUS	str
	COMPANY_CLASS	str
	COMPANY_CATEGORY	str
	AUTHORIZED_CAPITAL	str
	PAIDUP_CAPITAL	str
	REGISTERED_STATE	str
	REGISTRAR_OF_COMPANIES	str
	PRINCIPAL_BUSINESS_ACTIVITY	str
	REGISTERED_OFFICE_ADDRESS	str
	SUB_CATEGORY	str
	AUTH_CAP	float

Rows: Unknown

Data:
+-------------------------------+----------------------+
| CORPORATE_IDENTIFICATION_N... | DATE_OF_REGISTRATION |
+-------------------------------+----------------------+
|     L00367KA1993PLC014588     |      28-07-1993      |
|     L01111KA1988PLC008861     |      20-01-1988      |
|     L01115KA1970PLC001949     |      28-09-1970      |
|     L01122KA1994PLC016834     |      26-12-1994      |
|     L01131KA1938PLC000223     |      28-03-1938      |
|     L01131KA1943PLC000833     |      19-11-1943      |
|     L01131KA1944PLC000351     |      19-07-1944      |
|     L01131KA1955PLC000812     |      25-06-1955      |
|     L01131KA1955PLC000813     |      25-06-1955      |
|     L01131KA1970PLC001935     |      19-08-1970      |
+-------------------------------+----------------------+
+-------------------------------+----------------+---------------+
|          COMPANY_NAME         | COMPANY_STATUS | COMPANY_CLASS |
+-------------------------------+----------------+---------------+
|  TULSI CAPITAL MARKET LIMITED |     ACTIVE     |     Public    |
|    SUNIL AGRO FOODS LIMITED   |     ACTIVE     |     Public    |
| DAVANGERE SUGAR COMPANY LI... |     ACTIVE     |     Public    |
|    KARUTURI GLOBAL LIMITED    |     ACTIVE     |     Public    |
|    LINGAPUR ESTATES LIMITED   |     ACTIVE     |     Public    |
|      TATA COFFEE LIMITED      |     ACTIVE     |     Public    |
|  THE RAJENDRA COFFEES LIMITED |     ACTIVE     |     Public    |
|     OSSOOR ESTATES LIMITED    |     ACTIVE     |     Public    |
|   WARTYHULLY ESTATES LIMITED  |     ACTIVE     |     Public    |
| SANGAMESHWAR COFFEE ESTATE... |     ACTIVE     |     Public    |
+-------------------------------+----------------+---------------+
+---------------------------+--------------------+----------------+------------------+
|      COMPANY_CATEGORY     | AUTHORIZED_CAPITAL | PAIDUP_CAPITAL | REGISTERED_STATE |
+---------------------------+--------------------+----------------+------------------+
| Company Limited by Shares |   110,000,000.00   | 46,575,000.00  |    Karnataka     |
| Company Limited by Shares |   35,000,000.00    | 30,029,000.00  |    Karnataka     |
| Company Limited by Shares |   600,000,000.00   | 368,564,570.00 |    Karnataka     |
| Company Limited by Shares |  1,100,000,000.00  | 809,726,648.00 |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 15,339,600.00  |    Karnataka     |
| Company Limited by Shares |   250,000,000.00   | 186,770,370.00 |    Karnataka     |
| Company Limited by Shares |    2,500,000.00    |   800,000.00   |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 15,600,000.00  |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 18,000,000.00  |    Karnataka     |
| Company Limited by Shares |   15,000,000.00    | 12,621,840.00  |    Karnataka     |
+---------------------------+--------------------+----------------+------------------+
+------------------------+-------------------------------+
| REGISTRAR_OF_COMPANIES |  PRINCIPAL_BUSINESS_ACTIVITY  |
+------------------------+-------------------------------+
|     RoC-Bangalore      |            Finance            |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
+------------------------+-------------------------------+
+-------------------------------+-------------------------------+--------------+
|   REGISTERED_OFFICE_ADDRESS   |          SUB_CATEGORY         |   AUTH_CAP   |
+-------------------------------+-------------------------------+--------------+
| 186 DATTA COMPLEX MAIN ROA... | Indian Non-Government Company | 110000000.0  |
| PLOT NO.39-A2, INDUSTRIAL ... | Indian Non-Government Company |  35000000.0  |
| 73/1, POST BOX NO.312,SHAM... | Indian Non-Government Company | 600000000.0  |
| # 204, Embassy Centre,11 C... | Indian Non-Government Company | 1100000000.0 |
| LAKSHMI COFFEE CURINGWORKS... | Indian Non-Government Company |  20000000.0  |
| POLLIBETTA,KODAGU KARNATAK... | Indian Non-Government Company | 250000000.0  |
| GUNTANAIK ESTATE,BALEHONNU... | Indian Non-Government Company |  2500000.0   |
| 48,CAMBRIDGE ROAD CROSS,UL... | Indian Non-Government Company |  20000000.0  |
| OSSOOR ESTATE,SAKLASPUR,HA... | Indian Non-Government Company |  20000000.0  |
| KARADYKHAN ESTATE,SANGAMES... | Indian Non-Government Company |  15000000.0  |
+-------------------------------+-------------------------------+--------------+
[? rows x 14 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [74]:
comp

RuntimeError: Runtime Exception. Exception in python callback function evaluation:
AttributeError("'NoneType' object has no attribute 'replace'",):
Traceback (most recent call last):
  File "graphlab\cython\cy_pylambda_workers.pyx", line 450, in graphlab.cython.cy_pylambda_workers._eval_lambda_by_sframe_rows
  File "graphlab\cython\cy_pylambda_workers.pyx", line 221, in graphlab.cython.cy_pylambda_workers.lambda_evaluator.eval_sframe_rows
  File "<ipython-input-62-2af9eda12509>", line 3, in fun
AttributeError: 'NoneType' object has no attribute 'replace'

In [75]:
comp = gl.SFrame('D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv')

Finished parsing file D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv

Parsing completed. Parsed 100 lines in 1.39501 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,str,str,str,str,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file D:\Data\company_master_data_upto_Mar_2015_Karnataka.csv

Parsing completed. Parsed 78524 lines in 0.868077 secs.

In [76]:
comp = comp.dropna()

In [77]:
# Data cleaning, removal of comma
def fun(x):
    return float((x['AUTHORIZED_CAPITAL']).replace(',',''))
    
comp['AUTH_CAP'] = comp.apply(fun)

In [78]:
comp.head()

Columns:
	CORPORATE_IDENTIFICATION_NUMBER	str
	DATE_OF_REGISTRATION	str
	COMPANY_NAME	str
	COMPANY_STATUS	str
	COMPANY_CLASS	str
	COMPANY_CATEGORY	str
	AUTHORIZED_CAPITAL	str
	PAIDUP_CAPITAL	str
	REGISTERED_STATE	str
	REGISTRAR_OF_COMPANIES	str
	PRINCIPAL_BUSINESS_ACTIVITY	str
	REGISTERED_OFFICE_ADDRESS	str
	SUB_CATEGORY	str
	AUTH_CAP	float

Rows: 10

Data:
+-------------------------------+----------------------+
| CORPORATE_IDENTIFICATION_N... | DATE_OF_REGISTRATION |
+-------------------------------+----------------------+
|     L00367KA1993PLC014588     |      28-07-1993      |
|     L01111KA1988PLC008861     |      20-01-1988      |
|     L01115KA1970PLC001949     |      28-09-1970      |
|     L01122KA1994PLC016834     |      26-12-1994      |
|     L01131KA1938PLC000223     |      28-03-1938      |
|     L01131KA1943PLC000833     |      19-11-1943      |
|     L01131KA1944PLC000351     |      19-07-1944      |
|     L01131KA1955PLC000812     |      25-06-1955      |
|     L01131KA1955PLC000813     |      25-06-1955      |
|     L01131KA1970PLC001935     |      19-08-1970      |
+-------------------------------+----------------------+
+-------------------------------+----------------+---------------+
|          COMPANY_NAME         | COMPANY_STATUS | COMPANY_CLASS |
+-------------------------------+----------------+---------------+
|  TULSI CAPITAL MARKET LIMITED |     ACTIVE     |     Public    |
|    SUNIL AGRO FOODS LIMITED   |     ACTIVE     |     Public    |
| DAVANGERE SUGAR COMPANY LI... |     ACTIVE     |     Public    |
|    KARUTURI GLOBAL LIMITED    |     ACTIVE     |     Public    |
|    LINGAPUR ESTATES LIMITED   |     ACTIVE     |     Public    |
|      TATA COFFEE LIMITED      |     ACTIVE     |     Public    |
|  THE RAJENDRA COFFEES LIMITED |     ACTIVE     |     Public    |
|     OSSOOR ESTATES LIMITED    |     ACTIVE     |     Public    |
|   WARTYHULLY ESTATES LIMITED  |     ACTIVE     |     Public    |
| SANGAMESHWAR COFFEE ESTATE... |     ACTIVE     |     Public    |
+-------------------------------+----------------+---------------+
+---------------------------+--------------------+----------------+------------------+
|      COMPANY_CATEGORY     | AUTHORIZED_CAPITAL | PAIDUP_CAPITAL | REGISTERED_STATE |
+---------------------------+--------------------+----------------+------------------+
| Company Limited by Shares |   110,000,000.00   | 46,575,000.00  |    Karnataka     |
| Company Limited by Shares |   35,000,000.00    | 30,029,000.00  |    Karnataka     |
| Company Limited by Shares |   600,000,000.00   | 368,564,570.00 |    Karnataka     |
| Company Limited by Shares |  1,100,000,000.00  | 809,726,648.00 |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 15,339,600.00  |    Karnataka     |
| Company Limited by Shares |   250,000,000.00   | 186,770,370.00 |    Karnataka     |
| Company Limited by Shares |    2,500,000.00    |   800,000.00   |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 15,600,000.00  |    Karnataka     |
| Company Limited by Shares |   20,000,000.00    | 18,000,000.00  |    Karnataka     |
| Company Limited by Shares |   15,000,000.00    | 12,621,840.00  |    Karnataka     |
+---------------------------+--------------------+----------------+------------------+
+------------------------+-------------------------------+
| REGISTRAR_OF_COMPANIES |  PRINCIPAL_BUSINESS_ACTIVITY  |
+------------------------+-------------------------------+
|     RoC-Bangalore      |            Finance            |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
|     RoC-Bangalore      | Agriculture and Allied Act... |
+------------------------+-------------------------------+
+-------------------------------+-------------------------------+--------------+
|   REGISTERED_OFFICE_ADDRESS   |          SUB_CATEGORY         |   AUTH_CAP   |
+-------------------------------+-------------------------------+--------------+
| 186 DATTA COMPLEX MAIN ROA... | Indian Non-Government Company | 110000000.0  |
| PLOT NO.39-A2, INDUSTRIAL ... | Indian Non-Government Company |  35000000.0  |
| 73/1, POST BOX NO.312,SHAM... | Indian Non-Government Company | 600000000.0  |
| # 204, Embassy Centre,11 C... | Indian Non-Government Company | 1100000000.0 |
| LAKSHMI COFFEE CURINGWORKS... | Indian Non-Government Company |  20000000.0  |
| POLLIBETTA,KODAGU KARNATAK... | Indian Non-Government Company | 250000000.0  |
| GUNTANAIK ESTATE,BALEHONNU... | Indian Non-Government Company |  2500000.0   |
| 48,CAMBRIDGE ROAD CROSS,UL... | Indian Non-Government Company |  20000000.0  |
| OSSOOR ESTATE,SAKLASPUR,HA... | Indian Non-Government Company |  20000000.0  |
| KARADYKHAN ESTATE,SANGAMES... | Indian Non-Government Company |  15000000.0  |
+-------------------------------+-------------------------------+--------------+
[10 rows x 14 columns]

In [85]:
comp.sort('AUTH_CAP', ascending=True)['COMPANY_NAME','AUTHORIZED_CAPITAL']

Columns:
	COMPANY_NAME	str
	AUTHORIZED_CAPITAL	str

Rows: 68764

Data:
+--------------------------------+--------------------+
|          COMPANY_NAME          | AUTHORIZED_CAPITAL |
+--------------------------------+--------------------+
|   HOSPITAL GUIDE FOUNDATION    |        100         |
| JAYASHANKAR FILMS CORPN. L...  |      1,000.00      |
| SANJEEVARAO AND COMPANY LI...  |      1,000.00      |
| JAIGRI CONSTRUCTION PRIVAT...  |      1,000.00      |
| LOKHANDWALA DEVELOPERS PRI...  |      1,000.00      |
| ALPHA PHARMACEUTICALS PRIV...  |      1,000.00      |
| WESTERN INDIA TILE MANUFAC...  |      1,000.00      |
| JEEVAN EXPORTS PRIVATE LIMITED |      1,000.00      |
| SREE MANGALAM BIGAI COTTON...  |      1,000.00      |
| KUDIMA FASTNERS PRIVATE LI...  |      1,000.00      |
+--------------------------------+--------------------+
[68764 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [91]:
def get_year(x):
    yr = x['DATE_OF_REGISTRATION']
    return yr.split('-')[2]
    
comp['YEAR'] = comp.apply(get_year)

In [93]:
comp['YEAR'] = comp.apply(lambda x: int(x['YEAR']))

In [97]:
import graphlab.aggregate as agg
comp.groupby(key_columns='YEAR', operations= agg.COUNT())

Columns:
	YEAR	int
	Count	int

Rows: 110

Data:
+------+-------+
| YEAR | Count |
+------+-------+
| 2011 |  5379 |
| 2010 |  4380 |
| 1939 |   5   |
| 1978 |  167  |
| 1977 |  169  |
| 1890 |   1   |
| 1948 |   22  |
| 1984 |  524  |
| 1941 |   3   |
| 1928 |   2   |
+------+-------+
[110 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.